Repository GunGonGamLee/ft_transcendence, pull requests merged in 2024-03, with the labels that each got.

#348 feat: 전적 페이지 api 이식
  backend/games/serializers.py
  frontend/assets/css/histories.css
  frontend/src/constants/routeInfo.js
  frontend/src/header/mainHeader/header.js
  frontend/src/pages/histories/one-on-one-histories-details.js
  frontend/src/pages/histories/one-on-one-page.js
  frontend/src/pages/histories/page.js
  frontend/src/pages/histories/summary-page.js
  frontend/src/pages/histories/tournament-histories-details.js
  frontend/src/pages/histories/tournament-page.js
  frontend/src/router.js
  frontend/src/utils/pagination.js
  frontend/src/utils/userUtils.js
Labels: enhancement, backend, frontend

#372 feat: 방이름 중복처리, 인게임 배경 변경&안내 toast 추가, 방장 아니면 start못 누르게 변경
  frontend/assets/css/customGameList.css
  frontend/assets/images/ingame_background2.png
  frontend/assets/images/ingame_background3.png
  frontend/assets/images/ingame_background4.png
  frontend/src/pages/custom-game-list/page.js
  frontend/src/pages/in-game/page.js
  frontend/src/pages/in-game/toast.js
  frontend/src/pages/waiting-room/page.js
Labels: enhancement, frontend

#376 feat: kibana 끝
  docker-compose.yml
  elk/logstash/pipeline/logstash.conf
Labels: enhancement, backend

#378 feat: 게임 기능 구현 #312
  backend/games/consumers/GameConsumer.py
  backend/games/models.py
  backend/games/views.py
Labels: enhancement, backend

#382 fix: 퇴장 버그 수정
  backend/games/consumers/GameRoomConsumer.py
Labels: bug, backend

#384 feat : 토너먼트 대기창 소켓이식
  frontend/src/constants/routeInfo.js
  frontend/src/pages/game-mode/page.js
  frontend/src/pages/match-up/page.js
  frontend/src/pages/waiting-room/page.js
Labels: frontend

#377 feat: waiting-room 방 다 차야 게임 시작 가능하게 변경, online-game 페이지 추가
  frontend/src/constants/routeInfo.js
  frontend/src/pages/online-game/page.js
  frontend/src/pages/online-game/scoreBar.js
  frontend/src/pages/online-game/toast.js
  frontend/src/pages/waiting-room/page.js
Labels: enhancement, frontend

#387 feat: match up 페이지에서 online game 페이지로 소켓 전달
  frontend/src/constants/routeInfo.js
  frontend/src/pages/match-up/page.js
  frontend/src/pages/online-game/page.js
Labels: enhancement, frontend

#388 feat: 키보드 입력
  backend/games/consumers/GameConsumer.py
Labels: enhancement, backend

#391 feat: local match up 페이지 개발
  frontend/assets/css/localMatchUp.css
  frontend/src/constants/routeInfo.js
  frontend/src/pages/game-mode/page.js
  frontend/src/pages/in-game/page.js
  frontend/src/pages/local-match-up/page.js
  frontend/src/pages/local-match-up/playerNameInput.js
Labels: enhancement, frontend

#375 feat: 아바타 변경 API 구현
  backend/users/tests.py
  backend/users/views.py
Labels: enhancement, backend

#385 feat: 아바타 변경 페이지 UI 구현
  frontend/assets/css/avatar.css
  frontend/assets/css/histories.css
  frontend/assets/images/avatar_change.png
  frontend/src/constants/routeInfo.js
  frontend/src/global.js
  frontend/src/pages/avatar/page.js
  frontend/src/pages/histories/page.js
Labels: enhancement, frontend

#393 feat: 아바타 업로드 API 이식
  frontend/assets/css/avatar.css
  frontend/src/pages/avatar/page.js
Labels: enhancement, frontend

#398 feat: 게임 시작 시 elk에 찍히는 로그가 4개 찍힘
  backend/games/consumers/GameConsumer.py
  backend/login/views.py
  backend/src/settings.py
Labels: enhancement, backend

#401 feat: 전적 페이지에서 유저 검색 api 이식
  frontend/assets/css/histories.css
  frontend/src/constants/routeInfo.js
  frontend/src/pages/histories/page.js
  frontend/src/pages/histories/summary-page.js
Labels: enhancement, frontend

#397 feat: 아바타 업데이트 API 이식
  frontend/src/pages/avatar/page.js
Labels: enhancement, frontend

#403 feat: 전적 페이지 footer와 친구 모달 창의 z-index 조정
  frontend/assets/css/friendsInfoModal.css
  frontend/assets/css/histories.css
Labels: enhancement, frontend

#399 feat: 로컬 게임 완성 / 온라인 게임 canvas 소켓메시지 기반으로 render / router info 관련 이슈 해결
  frontend/src/pages/in-game/page.js
  frontend/src/pages/local-match-up/page.js
  frontend/src/pages/match-up/page.js
  frontend/src/pages/online-game/page.js
  frontend/src/router.js
  frontend/src/utils/deepCopy.js
  frontend/src/utils/useReducer.js
Labels: enhancement, frontend

#404 fix: 전적 목록 페이지 새로고침 시 빈 화면
  frontend/src/constants/routeInfo.js
  frontend/src/pages/histories/one-on-one-page.js
  frontend/src/pages/histories/tournament-page.js
Labels: bug, frontend

#410 refactor: local 게임 리팩토링
  frontend/src/constants/routeInfo.js
  frontend/src/pages/game-mode/page.js
  frontend/src/pages/in-game/scoreBar.js
  frontend/src/pages/local-game/page.js
  frontend/src/pages/local-game/scoreBar.js
  frontend/src/pages/local-game/toast.js
  frontend/src/pages/local-match-up/page.js
  frontend/src/pages/local-match-up/playerNameInput.js
  frontend/src/pages/match-up/page.js
  frontend/src/pages/online-game/page.js
  frontend/src/pages/waiting-room/page.js
Labels: enhancement, frontend

#413 feat: pvp, pvp 도중 퇴장 구현 #312
  backend/games/consumers/GameConsumer.py
Labels: enhancement, backend

#415 chore: info를 받는 페이지 새로고침 처리 / online-game에서 game-end 처리
  frontend/src/pages/local-game/page.js
  frontend/src/pages/match-up/page.js
  frontend/src/pages/online-game/page.js
Labels: enhancement, frontend

#416 feat: docker에서 redoc 사용 가능하게 함
  Dockerfile
  backend/src/settings.py
  backend/src/urls.py
  docker-compose.yml
Labels: enhancement, backend

#423 fix: 리팩토링 #312
  backend/games/consumers/GameConsumer.py
  backend/games/models.py
  backend/src/choices.py
Labels: bug, backend

#405 feat : 친구요청 전송 두 번 누르면 경고 모달 창 띄우기
  frontend/src/header/mainHeader/friends-info-modal.js
  frontend/src/header/mainHeader/header.js
Labels: enhancement, frontend

#431 fix: fix game status bug #425
  backend/games/consumers/GameConsumer.py
  backend/games/consumers/GameRoomConsumer.py
Labels: bug, backend

#422 fix: online-game waiting-room bug fix
  frontend/src/pages/custom-game-list/page.js
  frontend/src/pages/match-up/page.js
  frontend/src/pages/online-game/page.js
  frontend/src/pages/waiting-room/page.js
  frontend/src/utils/clickEvent.js
Labels: enhancement, frontend

#433 fix: winner 참조 500 에러 #429
  backend/games/serializers.py
Labels: bug, backend

#434 feat: game match 정보 추가 #428
  backend/games/consumers/GameConsumer.py
Labels: enhancement, backend

#438 refactor: 친구요청 방지 모달 z-index 적용
  frontend/src/header/mainHeader/header.js
Labels: frontend

#437 hotfix: 짜잘한 버그
  backend/games/consumers/GameConsumer.py
  backend/games/consumers/GameRoomConsumer.py
Labels: bug, backend

#439 feat: winner info update #419
  backend/games/consumers/GameConsumer.py
Labels: bug, backend

#441 fix: online game 소켓메시지 처리 해결
  frontend/src/pages/match-up/page.js
  frontend/src/pages/online-game/page.js
  frontend/src/pages/waiting-room/page.js
Labels: enhancement, frontend

#406 test(games): PingPongGame 모델 구조 변경에 따른 test 최신화
  backend/games/tests.py
Labels: enhancement, backend

#442 feat: 결승전 구현 #427
  backend/games/consumers/GameConsumer.py
  backend/games/serializers.py
Labels: enhancement, backend

#444 fix: 게임 시작 시간 저장 #430
  backend/games/consumers/GameRoomConsumer.py
Labels: bug, backend

#447 build: Grafana + Prometheus + nodeexporter를 통한 리소스 모니터링
  backend/requirements.txt
  backend/src/settings.py
  backend/src/urls.py
  docker-compose.yml
  grafana/Dockerfile
  nginx/Dockerfile
  prometheus/Dockerfile
Labels: enhancement, backend

#451 fix: pvp 닷지 수정
  backend/games/consumers/GameConsumer.py
  backend/games/models.py
Labels: bug, backend

#432 fix: local 게임 버그 발견
  frontend/src/pages/local-game/page.js
Labels: bug, frontend

#457 Feat: 토너먼트 닷지 처리 #446
  backend/games/consumers/GameConsumer.py
Labels: enhancement, backend

#463 hotfix: 토너먼트 500 에러 수정
  backend/games/consumers/GameConsumer.py
  backend/games/serializers.py
Labels: bug, backend

#465 Feat: 대진표에서 닷지 #450
  backend/games/consumers/GameConsumer.py
Labels: enhancement, backend

#470 feat: match3 로직 추가 완료
  frontend/src/pages/match-up/page.js
  frontend/src/pages/online-game/page.js
Labels: enhancement, frontend

#468 fix: 전적 페이지 페이지네이션 에러
  frontend/src/pages/histories/one-on-one-page.js
  frontend/src/pages/histories/tournament-histories-details.js
  frontend/src/pages/histories/tournament-page.js
  frontend/src/utils/pagination.js
Labels: bug, frontend

#460 feat: 1vs1 모드 전적 상세 페이지에서 승자 표시
  frontend/assets/css/histories.css
  frontend/src/pages/histories/one-on-one-histories-details.js
  frontend/src/utils/dateUtils.js
Labels: enhancement, frontend

#464 feat: 토너먼트 상세 페이지에서 탈락한 사람을 위한 렌더링 추가
  frontend/assets/images/avatar/anonymous.png
  frontend/src/pages/histories/tournament-histories-details.js
Labels: enhancement, frontend

#471 feat: 폰트 import 위치를 헤더가 아닌 index.html에서 진행
  frontend/index.html
  frontend/src/header/mainHeader/header.js
Labels: enhancement, frontend

#477 refactor : 로그인 css 변경
  frontend/assets/css/login.css
Labels: frontend

#478 feat: online game 페이지 상단바 아바타 고정값인거 동적으로 바꿔주기
  frontend/src/pages/online-game/page.js
  frontend/src/pages/online-game/scoreBar.js
Labels: enhancement, frontend

#480 Feat: 랭크 득점 추가 #467
  backend/games/consumers/GameConsumer.py
  backend/src/choices.py
Labels: bug, enhancement, backend

#482 Feat: 공 각도 조절
  backend/games/consumers/GameConsumer.py
  backend/games/models.py
Labels: enhancement, backend

#481 fix : mainheader uncatch type err 문제
  frontend/src/header/mainHeader/header.js
Labels: frontend

#486 feat: online-game 모든 로직 비동기로 변경
  frontend/src/header/mainHeader/header.js
  frontend/src/pages/local-game/page.js
  frontend/src/pages/match-up/page.js
  frontend/src/pages/online-game/page.js
  frontend/src/pages/register/page.js
  frontend/src/pages/waiting-room/page.js
  frontend/src/utils/clickEvent.js
Labels: enhancement, frontend

#491 refactor: 네온 호버 적용
  frontend/src/pages/custom-game-list/page.js
Labels: frontend

#496 Feat: jwt 토큰 분리 #495
  backend/login/views.py
  backend/src/settings.py
Labels: enhancement, backend

#493 fix : mainheader에서 받은 인자들이 null이나 undefine인 경우 에러처리
  frontend/src/header/mainHeader/header.js
Labels: frontend

#497 feat: 로컬 게임 벽에서 벽으로 튕길 때 너무 많이 튕기지 않게 함
  frontend/src/pages/local-game/page.js
Labels: enhancement, frontend

#499 refactor: 게임 코드 리팩토링
  backend/games/consumers/GameConsumer.py
Labels: backend

#500 feat: 전적 페이지 게임 날짜 시간
  frontend/src/global.js
  frontend/src/pages/histories/one-on-one-histories-details.js
  frontend/src/pages/histories/page.js
  frontend/src/pages/histories/summary-page.js
  frontend/src/utils/dateUtils.js
  frontend/src/utils/formatUtils.js
Labels: enhancement, frontend

#490 feat: 최종 제출 레포 제작
  Dockerfile
  backend/login/views.py
  backend/src/choices.py
  backend/src/jwt_authentication.py
  backend/src/settings.py
  elk/logstash/pipeline/logstash.conf
  frontend/src/constants/routeInfo.js
  frontend/src/header/mainHeader/header.js
  frontend/src/pages/auth/page.js
  frontend/src/pages/local-game/page.js
  frontend/src/pages/match-up/page.js
  frontend/src/pages/online-game/page.js
  nginx/Dockerfile
  nginx/config/modsecurity.conf
  nginx/config/nginx.conf
  nginx/config/owasp-crs/crs-setup.conf
Labels: enhancement, backend, frontend

#503 Build: Cloud platform DB를 Docker 환경으로 migration
  backend/friends/migrations/0001_initial.py
  backend/games/migrations/0001_initial.py
  backend/games/migrations/0002_game_started_at.py
  backend/games/migrations/0003_casualgamelistview.py
  backend/src/settings.py
  backend/users/migrations/0001_initial.py
  backend/users/migrations/0002_user_is_online.py
  backend/users/migrations/0003_user_custom_1vs1_wins_user_custom_tournament_wins_and_more.py
  backend/users/migrations/0004_alter_user_avatar.py
  backend/users/migrations/0005_alter_user_avatar.py
  backend/users/migrations/0006_alter_user_avatar.py
  backend/users/migrations/0007_alter_user_avatar.py
  backend/users/migrations/0008_remove_user_last_login.py
  db/Dockerfile
  docker-compose.yml
  frontend/src/global.js
  init.sh
  nginx/Dockerfile
  nginx/config/nginx.conf
Labels: enhancement, backend, frontend

#506 feat: RDS로 다시 회귀
  backend/friends/migrations/0001_initial.py
  backend/friends/migrations/0002_initial.py
  backend/games/migrations/0001_initial.py
  backend/games/migrations/0002_initial.py
  backend/src/settings.py
  backend/users/migrations/0001_initial.py
  docker-compose.yml
  frontend/src/global.js
Labels: enhancement, backend, frontend

#507 refactor: 게임 리팩토링 #504
  backend/games/consumers/GameConsumer.py
  backend/login/views.py
  backend/src/choices.py
Labels: backend
