Repository GunGonGamLee/ft_transcendence, pull requests merged in 2024-02, with the labels that each got.

#163 chore: useState 오버로딩
  frontend/src/utils/useState.js
Labels: enhancement, frontend

#165 chore: db 구조 변경 #157
  backend/friends/migrations/0001_initial.py
  backend/friends/migrations/0002_initial.py
  backend/friends/models.py
  backend/friends/urls.py
  backend/friends/views.py
  backend/games/migrations/0001_initial.py
  backend/games/migrations/0002_initial.py
  backend/games/migrations/0003_remove_player_player1_remove_player_player2_and_more.py
  backend/games/migrations/__init__.py
  backend/games/models.py
  backend/login/views.py
  backend/users/migrations/0001_initial.py
  backend/users/models.py
  backend/users/views.py
Labels: enhancement, backend

#172 feat: nginx log를 logstash로 받아오기, elk stack log level 조정
  backend/src/settings.py
  docker-compose.yml
  elk/elasticsearch/config/elasticsearch.yml
  elk/kibana/config/kibana.yml
  elk/logstash/conf/logstash.yml
  elk/logstash/pipeline/logstash.conf
  nginx/config/modsecurity.conf
  nginx/config/nginx.conf
Labels: enhancement, backend, frontend

#176 feat: 이제 runserver 안 씀, container image는 python-slim
  Dockerfile
  backend/requirements.txt
  docker-compose.yml
Labels: enhancement, backend

#180 Feat: 코드 리팩토링
  backend/friends/models.py
  backend/games/models.py
  backend/games/serializers.py
  backend/src/choices.py
  backend/users/models.py
Labels: backend

#184 feat: nginx에서 정적파일을 서빙할 수 있게 수정, 친구 삭제 기능 추가, localhost/admin 가능
  Dockerfile
  backend/friends/views.py
  backend/src/settings.py
  docker-compose.yml
  init.sh
  nginx/config/nginx.conf
Labels: enhancement, backend

#186 Fix: 입장 버그 수정
  backend/games/views.py
  backend/src/choices.py
Labels: backend

#162 feat: 토너먼트 전적 상세 페이지 UI 구현
  frontend/assets/css/common/font.css
  frontend/assets/css/common/header.css
  frontend/assets/css/histories.css
  frontend/assets/fonts/font.css
  frontend/assets/images/avatar/chewbacca.png
  frontend/assets/images/avatar/darth_vader.png
  frontend/assets/images/avatar/han_solo.png
  frontend/assets/images/avatar/luke_skywalker.png
  frontend/assets/images/avatar/yoda.png
  frontend/node_modules/.package-lock.json
  frontend/src/header/mainHeader/header.js
  frontend/src/pages/histories/custom-page.js
  frontend/src/pages/histories/page.js
  frontend/src/pages/histories/tournament-histories-details.js
  frontend/src/pages/histories/tournament-page.js
  frontend/src/utils/clickEvent.js
  frontend/src/utils/hoverEvent.js
  frontend/src/utils/pagination.js
Labels: enhancement, frontend

#196 feat: 웹소켓 도입을 위한 공부용 브런치 친구 접속해있는지 알아보기
  .gitignore
  backend/friends/consumers.py
  backend/friends/routing.py
  backend/requirements.txt
  backend/src/settings.py
  nginx/config/nginx.conf
Labels: enhancement, backend

#198 feat: jwt 토큰 저장 위치 변경 및 userinfo get 반환값 수정
  backend/friends/migrations/0001_initial.py
  backend/friends/migrations/0002_initial.py
  backend/games/migrations/0001_initial.py
  backend/games/migrations/0002_initial.py
  backend/games/migrations/0003_remove_player_player1_remove_player_player2_and_more.py
  backend/games/migrations/0004_alter_casualgameview_table_alter_rankgameview_table.py
  backend/login/views.py
  backend/src/settings.py
  backend/users/migrations/0001_initial.py
  backend/users/views.py
Labels: enhancement, backend, frontend

#202 Feat: socket jwt 토큰 검증 기능 추가
  backend/src/asgi.py
  backend/src/jwt_authentication.py
  backend/src/settings.py
  nginx/config/nginx.conf
Labels: enhancement, backend

#204 fix: bootstrap cdn으로 바꿔줌
  frontend/index.html
  frontend/src/pages/game-mode/page.js
Labels: enhancement, frontend

#199 feat: 공통 헤더의 정보를 받아오는 api 적용 및 헤더에 닉네임 추가
  frontend/assets/css/common/header.css
  frontend/src/header/mainHeader/header.js
  frontend/src/pages/login/page.js
  frontend/src/utils/cookie.js
Labels: enhancement, frontend

#206 Feat: 게임방 입장 #168
  backend/games/consumers.py
  backend/games/routing.py
  backend/src/asgi.py
Labels: enhancement, backend

#209 build: dev 모드와 prod 모드 분리
  backend/login/views.py
  backend/src/settings.py
  frontend/index.html
  frontend/src/constants/routeInfo.js
  frontend/src/global.js
  frontend/src/header/mainHeader/header.js
  frontend/src/header/registerHeader/header.js
  frontend/src/pages/login/page.js
  frontend/src/pages/register/page.js
  frontend/src/utils/cookie.js
Labels: enhancement, backend, frontend

#207 refactor : 205 refactor 함수명 리팩토링
  frontend/src/pages/custom-game-list/page.js
  frontend/src/pages/login/page.js
Labels: enhancement, frontend

#215 build : hashicorpvault 비활성화 / nginx modsecurity 비활성화 / Makefile 추가
  Dockerfile
  Makefile
  backend/requirements.txt
  backend/src/settings.py
  docker-compose.yml
  init.sh
  nginx/Dockerfile
  nginx/config/nginx.conf
Labels: enhancement, backend

#219 refactor: router errorpage component별 this바인딩 개선
  frontend/main.js
  frontend/src/app.js
  frontend/src/pages/auth/page.js
  frontend/src/pages/custom-game-list/page.js
  frontend/src/pages/errorPage.js
  frontend/src/pages/game-mode/page.js
  frontend/src/pages/login/page.js
  frontend/src/pages/register/page.js
  frontend/src/pages/waiting-room/page.js
  frontend/src/router.js
  frontend/src/utils/navigate.js
  frontend/src/utils/useState.js
Labels: enhancement, frontend

#223 docs: Update pull_request_template.md
  .github/pull_request_template.md
Labels: documentation, enhancement

#224 refactor: 메인 헤더 리팩토링
  frontend/src/header/mainHeader/header.js
Labels: enhancement, frontend

#226 feat: 인게임페이지 구현 #221
  frontend/assets/images/clock.png
  frontend/assets/images/ingame_background.png
  frontend/assets/images/light_saber_green.png
  frontend/assets/images/light_saber_yellow.png
  frontend/assets/images/storm_trooper.png
  frontend/src/constants/routeInfo.js
  frontend/src/pages/in-game/page.js
  frontend/src/pages/in-game/scoreBar.js
  frontend/src/pages/register/page.js
Labels: enhancement, frontend

#225 feat: 실시간 친구 접속 확인 웹소켓 구현
  backend/friends/consumers.py
  backend/friends/migrations/0001_initial.py
  backend/friends/migrations/0002_initial.py
  backend/games/consumers.py
  backend/games/migrations/0001_initial.py
  backend/games/migrations/0002_initial.py
  backend/games/routing.py
  backend/src/asgi.py
  backend/src/settings.py
  docker-compose.yml
  init.sh
  nginx/config/nginx.conf
Labels: enhancement, backend

#232 feat: 소켓 연결 시 online, 친구 리스트 보낼 때 online 보내기
  backend/friends/consumers.py
  backend/friends/views.py
  backend/users/migrations/0002_user_is_online.py
  backend/users/models.py
Labels: enhancement, backend

#237 Feat: 사용자 전적 api #235
  backend/users/migrations/0003_user_custom_1vs1_wins_user_custom_tournament_wins_and_more.py
  backend/users/models.py
  backend/users/serializers.py
  backend/users/urls.py
  backend/users/views.py
Labels: enhancement, backend

#231 feat: game-mode 페이지 스피너 ui 구현
  frontend/assets/css/game-mode.css
  frontend/src/pages/game-mode/gameModeUnit.js
  frontend/src/pages/game-mode/page.js
Labels: frontend

#239 hotfix: 실시간 친구 접속 깃 문제 hotfix
  .gitignore
  backend/friends/consumers.py
  frontend/index.html
  frontend/src/header/mainHeader/header.js
Labels: enhancement, backend

#242 fix: router 로직 추가, 만든 페이지 반응형으로 변경
  frontend/assets/css/errorPage.css
  frontend/assets/css/register.css
  frontend/src/header/mainHeader/header.js
  frontend/src/pages/game-mode/page.js
  frontend/src/pages/in-game/page.js
  frontend/src/pages/in-game/scoreBar.js
  frontend/src/pages/waiting-room/userUnit.js
  frontend/src/router.js
Labels: frontend

#246 feat: logout API / 실시간 연결 끊김 DB에 반영되는 기능 작성 완료
  backend/friends/consumers.py
  backend/login/urls.py
  backend/login/views.py
Labels: enhancement, backend

#256 feat: 친구 신청 API 수정완료
  backend/friends/views.py
  backend/login/views.py
Labels: enhancement, backend

#253 feat: 로그아웃 API 적용
  frontend/assets/css/common/header.css
  frontend/src/header/mainHeader/header.js
  frontend/src/utils/cookie.js
Labels: enhancement, frontend

#254 feat: wating-room state설정 완료 #244
  frontend/node_modules/.package-lock.json
  frontend/src/header/mainHeader/header.js
  frontend/src/pages/waiting-room/errorModal.js
  frontend/src/pages/waiting-room/page.js
  frontend/src/pages/waiting-room/roomSettingModal.js
  frontend/src/pages/waiting-room/userBox.js
Labels: enhancement, frontend

#259 feat: 친구 정보 모달창 UI 구현
  frontend/assets/css/friendsInfoModal.css
  frontend/assets/images/accept.png
  frontend/assets/images/paper_plane.png
  frontend/assets/images/trash.png
  frontend/src/header/mainHeader/friends-info-modal.js
  frontend/src/header/mainHeader/header.js
Labels: frontend

#260 feat: 유저 전적 목록 API 구현 #241
  backend/games/migrations/0002_game_started_at.py
  backend/games/models.py
  backend/games/serializers.py
  backend/games/urls.py
  backend/games/views.py
  backend/login/views.py
  backend/src/exceptions.py
  backend/users/views.py
Labels: enhancement, backend

#262 feat: 사용자 게임 전적 API 구현 #261
  backend/games/serializers.py
  backend/games/urls.py
  backend/games/views.py
  backend/src/settings.py
Labels: enhancement, backend

#257 feat: 아바타 업로드 API 구현
  backend/login/views.py
  backend/src/settings.py
  backend/users/migrations/0004_alter_user_avatar.py
  backend/users/migrations/0005_alter_user_avatar.py
  backend/users/migrations/0006_alter_user_avatar.py
  backend/users/migrations/0007_alter_user_avatar.py
  backend/users/models.py
  backend/users/serializers.py
  backend/users/tests.py
  backend/users/urls.py
  backend/users/views.py
Labels: enhancement, backend

#271 feat: 헤더 내 아바타 UI 수정
  backend/src/settings.py
  frontend/assets/css/common/header.css
  frontend/src/header/mainHeader/header.js
Labels: enhancement, frontend

#264 refactor : custom game list api이식 위한 리팩토링
  frontend/src/pages/custom-game-list/game-room-list.js
  frontend/src/pages/custom-game-list/page.js
  frontend/src/pages/custom-game-list/room-create-modal.js
Labels: frontend

#277 feat: in game canvas 사용해보기
  frontend/src/pages/game-mode/page.js
  frontend/src/pages/in-game/page.js
  frontend/src/pages/in-game/scoreBar.js
Labels: enhancement, frontend

#280 feat: 게임방 목록 api #250
  backend/games/models.py
  backend/games/serializers.py
  backend/games/views.py
  backend/src/pagination_utils.py
Labels: enhancement, backend

#284 fix: avatar 수정 #281
  backend/games/serializers.py
  backend/users/serializers.py
Labels: enhancement, backend

#285 feat: consumer group_send로 수정
  backend/games/consumers.py
Labels: enhancement, backend

#282 refactor : 친구창 모달 렌더링 위치 변경
  frontend/assets/css/friendsInfoModal.css
  frontend/src/header/mainHeader/friends-info-modal.js
  frontend/src/header/mainHeader/header.js
Labels: frontend

#279 feat: game-mode ws연결, navigate 로직 변경
  frontend/src/pages/game-mode/page.js
  frontend/src/pages/in-game/page.js
  frontend/src/pages/login/page.js
  frontend/src/pages/register/page.js
  frontend/src/router.js
  frontend/src/utils/navigate.js
Labels: enhancement, frontend

#286 fix: 사용자 지정 게임 목록 css, 이벤트 에러 고치기
  frontend/assets/css/customGameList.css
  frontend/src/pages/custom-game-list/page.js
Labels: frontend

#289 feat: avatar_file_name 대신 avatar 사용
  frontend/src/header/mainHeader/header.js
Labels: enhancement, frontend

#295 Feat: 게임방 퇴장 #183
  backend/games/consumers.py
Labels: enhancement, backend

#296 fix: model 수정 #150
  backend/games/migrations/0003_casualgamelistview.py
  backend/users/migrations/0008_remove_user_last_login.py
  backend/users/models.py
Labels: backend

#272 test: 아바타 업로드 테스트 구현
  backend/users/test.jpeg
  backend/users/tests.py
  frontend/src/header/mainHeader/header.js
Labels: enhancement, backend

#299 feat: 인증서 문제 드디어 해결~!~!~!~!~!~!
  backend/login/views.py
  backend/requirements.txt
  backend/src/settings.py
  docker-compose.yml
  init.sh
  nginx/Dockerfile
  nginx/config/nginx.conf
  vault/Dockerfile
  vault/config/vault.hcl
  vault/entrypoints.sh
Labels: enhancement, backend

#301 Feat: 비밀번호 검증 구현
  backend/games/consumers.py
Labels: enhancement, backend

#302 feat: .env 파일 수정 / hashicorpvault 내부 데이터 수정 / BASE_URL / 환경변수 몇 개 수정
  backend/login/views.py
  backend/src/settings.py
  docker-compose.yml
Labels: enhancement, backend

#294 feat: 게임 모듈 로직 구현
  backend/games/models.py
  backend/games/tests.py
Labels: enhancement, backend

#298 feat: custom game list useState, api 이식
  frontend/assets/css/customGameList.css
  frontend/src/pages/custom-game-list/gameRoomlist.js
  frontend/src/pages/custom-game-list/page.js
  frontend/src/pages/custom-game-list/room-create-modal.js
  frontend/src/pages/in-game/page.js
  frontend/src/pages/waiting-room/page.js
  frontend/src/router.js
Labels: enhancement, frontend

#305 feat: 친구창 유저 찾기 API, 친구 요청한 사용자 목록 API 완성
  backend/friends/urls.py
  backend/friends/views.py
Labels: enhancement, backend

#308 fix: 버그 수정, 코드 리팩토링
  backend/games/serializers.py
  backend/games/views.py
  backend/src/choices.py
  backend/src/exceptions.py
Labels: backend

#315 fix: 응답 빼먹은 거 수정
  backend/games/views.py
Labels: enhancement, backend

#319 feat: custom game room완성!
  frontend/src/pages/custom-game-list/page.js
  frontend/src/pages/custom-game-list/password-modal.js
  frontend/src/pages/custom-game-list/room-create-modal.js
  frontend/src/pages/waiting-room/userBox.js
  frontend/src/pages/waiting-room/userUnit.js
  frontend/src/router.js
Labels: enhancement, frontend

#321 fix: modsecurity 방화벽 모드 ON / Dockerfile 정리 및 오타 수정
  backend/friends/consumers.py
  backend/friends/views.py
  docker-compose.yml
  nginx/Dockerfile
  nginx/config/modsecurity.conf
Labels: enhancement, backend

#324 feat: waiting room에 usestate 소켓 이식
  frontend/src/pages/custom-game-list/page.js
  frontend/src/pages/waiting-room/page.js
  frontend/src/pages/waiting-room/userBox.js
  frontend/src/pages/waiting-room/userUnit.js
Labels: enhancement, frontend

#328 build : 볼륨 path들 예쁘게 수정함 / init.sh에 환경변수 추가함 / 웹소켓과 API가 나누어지게
  docker-compose.yml
  frontend/src/global.js
  frontend/src/header/mainHeader/header.js
  frontend/src/pages/custom-game-list/page.js
  frontend/src/pages/game-mode/page.js
  init.sh
Labels: enhancement, backend, frontend

#330 hotfix: /ws 경로 다시 제대로 가도록 수정함
  frontend/src/header/mainHeader/header.js
  frontend/src/pages/custom-game-list/page.js
  frontend/src/pages/game-mode/page.js
  nginx/config/nginx.conf
Labels: enhancement, backend

#307 feat: 로컬 2P 게임 구현
  frontend/src/pages/in-game/page.js
Labels: enhancement, frontend

#335 Feat: 인 게임 소켓 큰 틀 완성 #312
  backend/games/consumers.py
  backend/games/models.py
  backend/games/routing.py
  backend/games/serializers.py
  backend/requirements.txt
  backend/src/asgi.py
  frontend/src/pages/waiting-room/page.js
Labels: enhancement, backend

#339 Feat: 비밀번호 해싱 #311
  backend/games/consumers.py
  backend/games/views.py
Labels: enhancement, backend

#340 fix: 웹소켓 관련 오류 수정, feat: 토너먼트 페이지 개발
  frontend/assets/images/tournament_background.png
  frontend/src/constants/routeInfo.js
  frontend/src/pages/custom-game-list/page.js
  frontend/src/pages/tournament/page.js
  frontend/src/pages/waiting-room/page.js
Labels: enhancement, frontend

#344 feat : 친구모달창 스피너 삽입
  frontend/src/header/mainHeader/header.js
Labels: frontend

#343 feat: waiting room 카운트다운 모달 로직 구현 , mainheader onclose 로직 추가
  frontend/src/header/mainHeader/header.js
  frontend/src/pages/errorPage.js
  frontend/src/pages/waiting-room/countdownModal.js
  frontend/src/pages/waiting-room/page.js
Labels: enhancement, frontend

#342 Fix: 입장 버그 수정
  backend/games/consumers.py
  backend/games/views.py
Labels: bug, backend

#333 feat: 백엔드 게임 로직 수정
  backend/games/models.py
  backend/games/tests.py
  backend/requirements.txt
  frontend/src/global.js
  frontend/src/pages/in-game/page.js
Labels: enhancement, backend

#353 feat: nginx django에서 유의미한 로그 수집하여 json line으로 파싱
  backend/src/settings.py
  elk/logstash/pipeline/logstash.conf
  nginx/config/nginx.conf
Labels: enhancement, backend

#354 Fix: 요청 수정
  backend/games/consumers.py
  backend/games/models.py
  backend/src/choices.py
Labels: bug, backend

#357 feat: errorpage 헤더 수정 game mode 소켓 연결 후 navigate waiting room에서 tournament로 소켓연결후 보내게 변경
  backend/games/consumers.py
  frontend/src/constants/routeInfo.js
  frontend/src/header/emptyHeader/header.js
  frontend/src/header/mainHeader/header.js
  frontend/src/pages/game-mode/page.js
  frontend/src/pages/tournament/page.js
  frontend/src/pages/waiting-room/page.js
  frontend/src/router.js
Labels: enhancement, frontend

#359 feat: waiting-room, game-mode queue에서 소켓 로직 수정
  frontend/src/pages/game-mode/page.js
  frontend/src/pages/tournament/page.js
  frontend/src/pages/waiting-room/page.js
Labels: enhancement, frontend

#360 feat : 대진표 매칭 UI 구현
  frontend/assets/css/final.css
  frontend/assets/css/semi-final.css
  frontend/src/pages/tournament/page.js
Labels: frontend

#364 chore: spinner 옙브게 변경
  frontend/src/pages/custom-game-list/page.js
Labels: enhancement, frontend

#366 fix: 게임 컨슈머 수정
  backend/games/consumers.py
  backend/games/models.py
  backend/games/urls.py
  backend/games/views.py
Labels: bug, backend

#367 feat: KIBANA에서 로그 수집할 거 정함 / Django, python 잘 받음
  Dockerfile
  backend/src/settings.py
  docker-compose.yml
  elk/kibana/config/kibana.yml
  elk/logstash/conf/logstash.yml
  elk/logstash/pipeline/logstash.conf
  nginx/config/nginx.conf
Labels: enhancement, backend
