Repository GunGonGamLee/ft_transcendence, pull requests merged in 2024-01, with the labels that each got.

#9 feat: swagger 추가
  requirements.txt
  src/settings.py
  src/urls.py
Labels: enhancement, backend

#14 feat: db 설계
  api/__init__.py
  api/admin.py
  api/apps.py
  api/migrations/__init__.py
  api/models.py
  api/tests.py
  api/views.py
  auth/__init__.py
  auth/admin.py
  auth/apps.py
  auth/migrations/__init__.py
  auth/models.py
  auth/tests.py
  auth/views.py
  log/__init__.py
  log/admin.py
  log/apps.py
  log/migrations/__init__.py
  log/models.py
  log/tests.py
  log/views.py
  pingpong/__init__.py
  pingpong/admin.py
  pingpong/apps.py
  pingpong/migrations/__init__.py
  pingpong/models.py
  pingpong/tests.py
  pingpong/views.py
  src/__pycache__/__init__.cpython-312.pyc
  src/__pycache__/settings.cpython-312.pyc
  src/__pycache__/urls.cpython-312.pyc
  src/__pycache__/wsgi.cpython-312.pyc
Labels: backend

#23 chore: kibana 연동 완료 및 SSL 인증서 발급
  .gitignore
  docker-compose.yml
  elk/elasticsearch/Dockerfile
  elk/elasticsearch/config/elasticsearch.yml
  elk/kibana/Dockerfile
  elk/kibana/config/kibana.yml
  elk/logstash/Dockerfile
  elk/logstash/conf/logstash.yml
  elk/logstash/pipeline/logstash.conf
  volumes/elasticsearch/config/elasticsearch.yml
Labels: enhancement, backend

#26 feat: 로그인 API 작성
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
  .github/workflows/convention_checker.yml
  backend/__init__.py
  backend/auth/models.py
  backend/login/__init__.py
  backend/login/admin.py
  backend/login/apps.py
  backend/login/migrations/__init__.py
  backend/login/models.py
  backend/login/schema/__init__.py
  backend/login/schema/responses.py
  backend/login/tests.py
  backend/login/urls.py
  backend/login/views.py
  backend/src/settings.py
  backend/src/urls.py
  backend/users/__init__.py
  backend/users/admin.py
  backend/users/apps.py
  backend/users/migrations/__init__.py
  backend/users/models.py
  backend/users/tests.py
  backend/users/views.py
  volumes/elasticsearch/config/elasticsearch.yml
  volumes/logstash/config/logstash.yml
Labels: enhancement, backend

#37 feat: swagger base url 수정
  backend/login/urls.py
  backend/src/settings.py
  backend/src/urls.py
Labels: enhancement, backend

#48 feat: 백엔드 api prefix api로 수정
  backend/api/urls.py
  backend/src/urls.py
Labels: backend

#53 feat: DB 수정
  backend/pingpong/models.py
  backend/users/models.py
Labels: enhancement, backend

#61 feat: 사용자 전적 페이지 (사용자 지정 게임의 1 VS 1 모드 개요 페이지) css 구현
  .idea/transcendence.iml
  frontend/assets/css/common/header.css
  frontend/assets/css/histories.css
  frontend/assets/css/histories/one_on_one.css
  frontend/assets/images/avatar/blue.png
  frontend/assets/images/avatar/green.png
  frontend/assets/images/avatar/pink.png
  frontend/assets/images/avatar/red.png
  frontend/assets/images/avatar/yellow.png
  frontend/assets/images/custom_summary.png
  frontend/assets/images/pagination.png
  frontend/assets/images/search.png
  frontend/assets/images/setting.png
  frontend/index.html
  frontend/main.js
  frontend/node_modules/.vite/deps/_metadata.json
  frontend/src/constants/routeInfo.js
  frontend/src/header/header.js
  frontend/src/header/historiesHeader.js
  frontend/src/pages/histories/page.js
  frontend/src/utils/clickEvent.js
  frontend/src/utils/hoverEvent.js
  nginx/config/owasp-crs/CHANGES.md
  nginx/config/owasp-crs/rules/REQUEST-921-PROTOCOL-ATTACK.conf
  nginx/config/owasp-crs/rules/iis-errors.data
Labels: enhancement, frontend

#70 feat: google email 로그인 메일 인증까지 구현
  .gitignore
  Dockerfile
  backend/api/urls.py
  backend/login/urls.py
  backend/login/views.py
  backend/pingpong/__pycache__/__init__.cpython-312.pyc
  backend/pingpong/__pycache__/admin.cpython-312.pyc
  backend/pingpong/__pycache__/apps.cpython-312.pyc
  backend/pingpong/__pycache__/models.cpython-312.pyc
  backend/pingpong/migrations/0001_initial.py
  backend/pingpong/migrations/0002_initial.py
  backend/pingpong/migrations/__pycache__/0001_initial.cpython-312.pyc
  backend/pingpong/migrations/__pycache__/0002_initial.cpython-312.pyc
  backend/pingpong/migrations/__pycache__/__init__.cpython-312.pyc
  backend/requirements.txt
  backend/src/settings.py
  backend/src/urls.py
  backend/users/migrations/0001_initial.py
  backend/users/migrations/0002_alter_user_nickname.py
  backend/users/migrations/0003_user_code_sent_at_user_is_verified_and_more.py
  backend/users/migrations/0004_remove_user_code_sent_at.py
  backend/users/migrations/__pycache__/0001_initial.cpython-312.pyc
  backend/users/migrations/__pycache__/__init__.cpython-312.pyc
  backend/users/models.py
  docker-compose.yml
  nginx/config/nginx.conf
  requirements.txt
Labels: enhancement, backend

#78 feat: UI 수정
  frontend/assets/css/common/header.css
  frontend/assets/css/histories.css
  frontend/assets/images/ranking.png
  frontend/src/constants/routeInfo.js
  frontend/src/header/historiesHeader/header.js
  frontend/src/header/mainHeader/header.js
  frontend/src/pages/histories/page.js
Labels: enhancement, frontend

#81 feat(assets): 누락된 이미지 추가
  frontend/assets/images/avatar/blue_torso.png
  frontend/assets/images/avatar/green_torso.png
  frontend/assets/images/avatar/pink_torso.png
  frontend/assets/images/avatar/red_torso.png
  frontend/assets/images/avatar/yellow_torso.png
  frontend/assets/images/friends.png
Labels: enhancement, frontend

#82 feat: 42 login 구현했습니다 #71
  backend/login/urls.py
  backend/login/views.py
  backend/requirements.txt
Labels: enhancement, backend

#83 feat: nginx를 이용한 가상화 / settings.py에서 모든 환경변수와 HashicorpVault 변수
  backend/requirements.txt
  backend/src/settings.py
  docker-compose.yml
  requirements.txt
Labels: enhancement, backend

#96 feat: hashicorp vault DEBUG마다 분기 nginx.conf 수정
  backend/src/settings.py
  docker-compose.yml
  nginx/config/nginx.conf
Labels: enhancement, backend

#98 fix: CORS header 긴급수정
  backend/requirements.txt
  backend/src/settings.py
Labels: enhancement, backend

#85 feat: 사용자 전적 페이지 UI 수정
  backend/login/urls.py
  backend/requirements.txt
  backend/src/settings.py
  frontend/assets/css/histories.css
  frontend/src/pages/histories/custom-page.js
  frontend/src/pages/histories/page.js
  frontend/src/pages/histories/ranking-page.js
  frontend/src/pages/histories/summary-page.js
  frontend/src/pages/histories/tournament-page.js
  frontend/src/utils/hoverEvent.js
Labels: enhancement, frontend

#106 feat: 사용자 전적 개요 페이지 구현
  frontend/assets/css/common/body.css
  frontend/assets/css/histories.css
  frontend/src/pages/histories/custom-page.js
  frontend/src/pages/histories/page.js
  frontend/src/pages/histories/summary-page.js
Labels: enhancement, frontend

#114 refactor: 사용자 지정 모드 전적 페이지 리팩토링
  frontend/src/pages/histories/custom-page.js
  frontend/src/pages/histories/page.js
  frontend/src/pages/histories/summary-page.js
Labels: enhancement, frontend

#125 feat: DB 초기화 및 migrate 완료
  backend/pingpong/migrations/0001_initial.py
  backend/pingpong/migrations/0002_initial.py
  backend/users/migrations/0001_initial.py
  backend/users/models.py
Labels: enhancement, backend

#129 feat: 사용자 전적 페이지 1 vs 1 모드 세부 전적 UI 구현
  frontend/assets/css/common/body.css
  frontend/assets/css/histories.css
  frontend/assets/images/avatar/blue_bust.png
  frontend/assets/images/avatar/green_bust.png
  frontend/assets/images/avatar/pink_bust.png
  frontend/assets/images/avatar/red_bust.png
  frontend/assets/images/avatar/yellow_bust.png
  frontend/node_modules/.vite/deps/_metadata.json
  frontend/src/header/mainHeader/header.js
  frontend/src/pages/histories/custom-histories-details.js
  frontend/src/pages/histories/custom-page.js
  frontend/src/pages/histories/page.js
  frontend/src/pages/histories/summary-page.js
  frontend/src/pages/waiting-room/userBox.js
Labels: enhancement, frontend

#139 feat: /users/me API 구현 #136
  backend/users/serializers.py
  backend/users/urls.py
  backend/users/views.py
Labels: enhancement, backend

#147 feat: 친구 추가 제거 삭제 안 쓰는 함수, exception 지우기
  backend/api/urls.py
  backend/friends/__init__.py
  backend/friends/admin.py
  backend/friends/apps.py
  backend/friends/migrations/__init__.py
  backend/friends/models.py
  backend/friends/serializers.py
  backend/friends/tests.py
  backend/friends/urls.py
  backend/friends/views.py
  backend/src/settings.py
Labels: enhancement, backend

#138 feat: 토너먼트 전적 목록 페이지 ui 구현
  .gitignore
  frontend/assets/css/histories.css
  frontend/src/pages/histories/custom-histories-details.js
  frontend/src/pages/histories/custom-page.js
  frontend/src/pages/histories/page.js
  frontend/src/pages/histories/ranking-page.js
  frontend/src/pages/histories/summary-page.js
  frontend/src/pages/histories/tournament-page.js
Labels: enhancement, frontend
